
<!DOCTYPE html>
<html>

    <head>
        <title>Django Central</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <body>
        <h1>Home Page</h1>
        <div>
            <ul>
                <li><a href="{% url 'pages:home' %}">Home</a></li>
                <li><a href="{% url 'blog:index' %}">Blog</a></li>
            </ul>
        </div>
    </body>

    <h1>Django Allauth Tutorial</h1>
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }} !!!</p>
        {% if user.has_usable_password %}
        <p><a href="{% url 'account_change_password' %}">Change password</a></p>

        {% else %}
        <p><a href="{% url 'account_set_password' %}">Set password</a></p>
        
        {% endif %}
   <a href="{% url 'account_logout' %}">Logout</a>
   {% else %}
   <a href="{% url 'account_login' %}">Sign In</a> or <a href="{% url 'account_signup' %}">Sign up</a>
   {% endif %}
</html>